<div class="form-group">

  <input type="hidden" name="sighting[species_id]" value="<%= @species.id %>">

  <label class="control-label" for="latitude">Latitude</label>
  <input class="form-control" id="latitude" name="sighting[latitude]" type="text" value="<%= @sighting.latitude %>">

  <label class="control-label" for="longitude">Longitude</label>
  <input class="form-control" id="longitude" name="sighting[longitude]" type="text" value="<%= @sighting.longitude %>">

  <label class="control-label" for="date">Date</label>
  <input class="form-control" id="date" name="sighting[date]" type="text" value="<%= @sighting.date %>">
  <button class="btn btn-default">Enter Sighting</button>

</div>
