
  <label class="control-label" for="species_name">Name</label>
  <input class="form-control" id="species_name" name="species[name]" type="text" value="<%= @species.name %>">
  <br>
  <button class="btn btn-primary">submit</button>
