<h1>Edit Species</h1>

<%= render('errors') %>

<div class="form-group">
  <form action="/species/<%= @species.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
<%= render('form') %>
  </form>
</div>
