<h1><%= @species.name %></h1>

<button><a href="/">Home</a></button>
<button><a href="/species/<%= @species.id %>/edit">Edit</a></button>
<button><a href="/species/<%=@species.id%>"
    data-confirm="Are you sure?"
    data-method="delete" rel="nofollow">
    Delete</a></button>
<button><a href="/species/<%= @species.id %>/sightings/new"class="btn btn-default">Enter new sighting</a>